/* React-burger-menu styles */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  left: 50px;
  top: 34px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #000000;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #383838;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  width: 24px;
  height: 24px;
}

.bm-cross-button {
  top: 10px !important;
  right: -32px !important;
}

@media screen and (max-width: 768px) {
  .bm-burger-button {
    left: 30px;
  }
}

@media screen and (max-width: 540px) {
  .bm-burger-button {
    left: 20px;
  }
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/

.bm-menu-wrap {
  background-color: white;
  position: absolute;
  top: 0px;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  position: absolute;
  top: 0px;
  background: rgba(0, 0, 0, 0.3);
}
