/* Spacing */

.bagTooltip {
  width: 380px;
  --spacing: 30px;
  padding: 20px;
}

.horizontalLine {
  margin: var(--spacing) 0px;
}

.fruit:not(:last-child) {
  margin-bottom: 20px;
}

.infoContainer > *:not(:last-child) {
  margin-bottom: 6px;
}

.imageContainer {
  margin-right: 20px;
  padding: 25px;
}

.total {
  margin-bottom: var(--spacing);
}

.checkoutButton {
  margin-bottom: 10px;
}

/* Spacing */

.horizontalLine {
  border: 1px solid rgb(234, 234, 234);
}

.leftContainer {
  display: flex;
  align-items: center;
}

.fruit {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.imageContainer {
  background-color: var(--color-100);
  border-radius: 6px;
}

.image {
  height: 24px;
  width: 24px;
}

.qty {
  font-size: 14px;
  color: var(--color-400);
  font-weight: 400;
}

.total {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.totalAndVat {
  display: flex;
}

.inclVat {
  transform: translateY(1px);
  margin-left: 8px;
  font-size: 14px;
  font-weight: 500;
  color: var(--color-400);
}

.emptyBag {
  font-size: 16px;
  color: var(--color-400);
}
