.fruitSection {
  max-width: 1600px;
  gap: 20px;
  padding: 50px;
  padding-left: 0;
}

.fruitSection {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.favoritesTitle {
  color: var(--color-400);
}

.emDash {
  margin: 0 14px;
}

.fruitGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 18px;
}

.noMatch {
  color: var(--color-400);
}

@media (max-width: 1050px) {
  .fruitGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 940px) {
  .title {
    font-size: 16px;
  }

  .fruitSection {
    padding-left: 50px;
  }

  .fruitGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .fruitSection {
    padding: 25px;
  }

  .fruitGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 540px) {
  .title {
    font-size: 14px;
  }

  .fruitGrid {
    grid-gap: 12px;
  }
}
