@import "../../css/global.css";

.fruitGrid {
  padding: 20px;
  display: grid;
  justify-content: center; /* Horizontally center grid within container */
  align-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: 100%;
}

@media (max-width: 1000px) {
  .fruitGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}
