@import "../../css/global.css";

.fruitGridFlipper {
  width: 100%;
}

.fruitGrid {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: 100%;
}

@media (max-width: 1000px) {
  .fruitGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}
