.buttonWhite {
  cursor: pointer;
  font-weight: 600;
  color: black;
  background-color: white;
  border: 1px solid var(--color-200);
  border-radius: 8px;
  height: 47px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.buttonWhite:hover {
  background-color: var(--color-200);
}

.bag {
  transform: translateY(-1px);
  margin-right: 4px;
  width: 20px;
}
