.carouselFruit {
  background-color: var(--color-100);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 220px;
}

.image {
  height: 60px;
  width: 60px;
}

.carouselFruit {
  position: relative;
}

.info {
  position: absolute;
  --spacing: 17px;
  bottom: var(--spacing);
  left: var(--spacing);
}

/* Carousel */

.homeCarousel {
  width: 700px;
}

.carouselItem {
  height: 240px;
}

@media (max-width: 1024px) {
  .homeCarousel {
    width: 466px;
  }
}

@media (max-width: 600px) {
  .homeCarousel {
    width: 220px;
  }
}
