@import "../../../css/global.css";

.navbarBag {
  position: relative;
}

.bagIcon {
  height: 30px;
  width: 30px;
}

.number {
  cursor: default;
  position: absolute;
  top: 14.5px;
  left: 12.5px;
  font-size: 9px;
}
