@import "../../../css/global.css";

.bagContainer {
  cursor: pointer;
  position: relative;
}

.bagIcon {
  height: 30px;
  width: 30px;
}

.number {
  z-index: -1;
  cursor: default;
  position: absolute;
  top: 14.5px;
  left: 12.5px;
  font-size: 9px;
}
