@import "../../../css/global.css";

.navbarLinks {
  display: flex;
}

.link {
  padding: 15px 10px;
  border-bottom: 2px solid transparent;
}

.link:hover {
  box-sizing: border-box;
  border-color: black;
}
