.title {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 60px);
  grid-template-rows: repeat(3, 80px);
  overflow: hidden;
  transition: height 0.3s ease;
}

.grid {
  height: 0px;
}

.grid.expanded {
  height: 240px;
}

.gridItem {
  font-weight: 400;
  font-size: 14px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.gridItem.clicked {
  animation: clickEffect 0.5s ease;
}

.gridItem:hover {
  background-color: var(--color-100);
}

.checkbox {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkIcon {
  width: 22px;
  height: 22px;
  fill: white;
}

.itemName {
  color: var(--color-800);
  font-size: 12px;
}

@keyframes clickEffect {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* Checkbox background colors */

.Purple {
  background-color: rgb(214, 117, 214);
}

.Green {
  background-color: rgb(85, 182, 85);
}

.Brown {
  background-color: rgb(110, 52, 52);
}

.Red {
  background-color: var(--color-red);
}

.Orange {
  background-color: rgb(255, 108, 16);
}

.Yellow {
  background-color: rgb(255, 230, 0);
}

.Blue {
  background-color: rgb(81, 81, 255);
}

.Black {
  background-color: rgb(54, 54, 54);
}
