.navbar {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
}

.navbarRight,
.navbarLeft,
.rightIcons {
  display: flex;
  align-items: center;
}

.navbarRight {
  gap: 30px;
}

.navbarLeft {
  gap: 50px;
}

.rightIcons {
  gap: 10px;
}

@media screen and (max-width: 940px) {
  .logo {
    display: none;
  }

  .navbarLeft {
    padding-left: 40px;
  }
}

@media screen and (max-width: 768px) {
  .navbarLeft {
    display: none;
  }

  .navbarRight {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar {
    position: relative;
  }

  .rightIcons {
    right: 25px;
    position: absolute;
  }
}
