.navbar {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
}

.navbarRight,
.navbarLeft {
  display: flex;
  align-items: center;
}

.navbarRight {
  gap: 30px;
}

.navbarLeft {
  gap: 50px;
}
