@import "../../css/global.css";

.navbar {
  padding: 20px;
  padding-left: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rightContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightContainer > * {
  margin: 0 15px;
}
