@import "../../../../css/global.css";

.bagDropdown {
  z-index: 3;
  background-color: #fff;
  border: 1px solid black;
  position: absolute;
  top: 70px;
  right: 30px;
  transition: opacity 0.3s ease;
}

.bagDropdown {
  opacity: 0;
}

.bagDropdown.open {
  opacity: 1;
}
