.backIcon {
  height: 28px;
  width: 28px;
}

.buttonBack {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: none;
  border-radius: 8px;
  padding: 6px;
  transition: background-color 0.3s ease;
}

.buttonBack:hover {
  background-color: var(--color-200);
}
