@import "../../css/global.css";

.sidebar {
  padding: 30px;
  padding-left: 40px;
  width: 260px;
}

.sidebar > * {
  margin-bottom: 20px;
}

.title {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  margin-bottom: 20px;
}
