.errorPage {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.errorBody {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 30px;
}

.homeLink {
  margin-top: 50px;
  font-size: 18px;
}
