.editQuantity {
  display: flex;
  align-items: center;
}

.number {
  font-size: 14px;
  margin: 0 14px;
}

.editButton {
  cursor: pointer;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px var(--color-300);
  border-radius: 4px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.editButton:hover {
  background-color: var(--color-200);
}

.icon {
  height: 14px;
  width: 14px;
  fill: var(--color-400);
}
